@import "../variables/variables";

@mixin basic-title {
  display: flex;
  margin-left: 10px;
  font-size: 16px;
  text-transform: uppercase;
  color: $txt-gray-color;
  letter-spacing: 1.5px;
  font-weight: 700;
}

@mixin container {
  position: relative;
  margin: 0 auto;
  //border: 2px solid #f60000;
}

@mixin burger {
  width: 44px;
  height: 40px;
  background-color: #222222;
  cursor: pointer;
  z-index: 9;
  //----------------бургер-линии----меню закрыто ----------
  span{
    background-color: #ffffff;
    position: absolute;
    width: 60%;
    height: 2px;
    left: 20%;
    top: 48%;
    transition: all 0.3s ease 0s;
  }
  &:before,
  &:after{
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 60%;
    height: 2px;
    left: 20%;
    transition: all 0.3s ease 0s;
  }
  &:before{
    top: 30%;
  }
  &:after{
    bottom: 30%;
  }

  //----------------бургер-крестик----меню открыто -----------
  &.active:before{
    transform: rotate(45deg);
    top: 48%;
  }
  &.active:after{
    transform: rotate(-45deg);
    bottom: 48%;
  }
  &.active span{
    transform: scale(0);
  }
}

@mixin display-flex-row-spaceBtw-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}